<HTML>
<head>
<title>Forks Over Knive Theater Locations Mapped</title>
<style>
h1 {
  padding-top: .5em;
  font-size: 26px;
  font-style: normal;
  font-weight: 400;
  text-shadow: none;
  text-decoration: none;
  text-transform: none;
  letter-spacing: 0em;
  word-spacing: 0em;
  line-height: 1;
  padding-bottom: 0;
  margin-bottom: .5em;
}
h2 {
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  text-shadow: none;
  text-decoration: none;
  text-transform: none;
  letter-spacing: 0em;
  word-spacing: 0em;
  line-height: 1;
}

body {
font:normal 12px/20px "Lucida Grande", Verdana, Arial, sans-serif;
margin:0;
padding:0 0 15px 0;}


</style>
<script src="http://maps.google.com/maps?file=api&v=2&key=<%=GOOGLE_API_CODE%>" type="text/javascript"></script>
</head>

<script type="text/javascript">
	var map;
	var bounds = new GLatLngBounds();

	<% for theater in THEATERS %>
		var mark<%=theater.object_id%>;
	<%end %>

	function load_map() {
		map = new GMap2(document.getElementById("map"));
		map.addControl(new GSmallMapControl());
		map.addControl(new GMapTypeControl());
		
		<% for t in THEATERS %>
		var point = new GLatLng(<%=t[:latitude]%>,<%=t[:longitude]%>);
		bounds.extend(point);
		mark<%=t.object_id%> = new GMarker(point);
		GEvent.addListener(mark<%=t.object_id%>, "click", function() {
			map.setCenter(new GLatLng(<%=t[:latitude]%>, <%=t[:longitude]%>));
			mark<%=t.object_id%>.openInfoWindowHtml("<%=t[:name]%>");
			});
		map.addOverlay(mark<%=t.object_id%>);
		<%end %>
		map.setCenter(bounds.getCenter(), map.getBoundsZoomLevel(bounds));
		};
		<% for t in THEATERS %>
		function locate<%=t.object_id%>() {
		map.closeInfoWindow();
		map.setCenter(map.getCenter(), 5);
		map.panTo(new GLatLng(<%=t[:latitude]%>, <%=t[:longitude]%>)) ;
		window.setTimeout(function() {
		mark<%=t.object_id%>.openInfoWindowHtml("<%=t.object_id%>");
		}, 2000);
		};
		
		function search(address) {
			
		}
		
		<%end %>
</script>



<body style="margin: 0px; padding: 0px;" onLoad="load_map();">
	
	<div style="width: 100%; text-align: center;" id="wrapper">
		<h1>Forks Over Knives - Nearest Theater</h1>
	</div>

  <div style="background-color: #EEE; width: 100%; border: 1px solid #CCC; padding: 1em; margin-bottom: 2em;">
	<div style="width: 100%; text-align: center;">
		<form action="search" style="padding: 0; margin: 0;">
			<b>Find Nearest Theater: </b><input type="text"value="Enter Your Address" name="address" size="50" onfocus="this.value='';"> <input type="submit" value="Go">
		</form>
	</div>
  </div>	
	<div id="map" style="width:780px; height: 375px; margin: auto;"></div>

	<div style="width: 780px; margin: auto; clear: left;">
  <p>
	After months of worsening conditions with ineffective treatments, my loved sister is curing her Sarcoidosis thanks to a plant-strong diet. Thank You Doctors!
  </p>
  <p>
	Twitter: @jrhicks
  </p>
	</div>
</body>

</html>