<%=erb :header%>
	
	function initialize() {
	  directionsDisplay = new google.maps.DirectionsRenderer();
	  var source = new google.maps.LatLng(<%=@source_lat%>, <%=@source_lon%>);
	  var myOptions = {
		zoom:7,
		mapTypeId: google.maps.MapTypeId.ROADMAP,
		center: source
	  }
	  map = new google.maps.Map(document.getElementById("map"), myOptions);
	  directionsDisplay.setMap(map);
    calcRoute("<%=@nearest[:address]%> <%=@nearest[:city]%>  <%=@nearest[:state]%>");
	  loadPoints();
	};

	function calcRoute(destination) {
	  var start = "<%=params[:address]%>";
	  var end = destination;
	  var request = {
		origin:start,
		destination:end,
		travelMode: google.maps.TravelMode.DRIVING
	  };
    directionsDisplay.setPanel(document.getElementById("directionsPanel"));
	  directionsService.route(request, function(result, status) {
		if (status == google.maps.DirectionsStatus.OK) {
		  directionsDisplay.setDirections(result);
		}
	  });
	}	

</script>
</head>


<body style="margin: 0px; padding: 0px;" onLoad="initialize();">
	
	<div style="width: 100%; text-align: center;" id="wrapper">
		<h1>Forks Over Knives - Nearest Theater</h1>
	</div>

  <div style="background-color: #EEE; width: 100%; border: 1px solid #CCC; padding: 1em; margin-bottom: 1em;">
	<div style="width: 100%; text-align: center;">
		<form action="search" style="padding: 0; margin: 0;">
			<b>Change Theater</b>
      <select onchange="calcRoute(this.value);">
        <%for t in @sorted_theaters%>
        <option <%="SELECTED" if t[:name]==@nearest[:name]%> value="<%=t[:address]%> <%=t[:city]%>  <%=t[:state]%>"> <%=t[:name]%>
        <%end%>
      </select>
       
		</form>
	</div>
  </div>  

	<div style="width: 780px; margin: auto;">
    <p>
    The closest theater is <em><%=@nearest[:name]%></em>.  Please see <b><a href="http://www.forksoverknives.com/showtimes/">Official Showtimes</a></b>
    </p>
    <div id="map" style="width:375px; height: 375px; float: left;"></div>
    <div id="directionsPanel" style="width: 375px; padding-left: 10px; float: left; margin-top: -10px;"></div>
  </div>
	
<%=erb :footer%>